{% extends "base.html" %}

{% block title %}
Short URL
{% endblock %}

{% block body %}
<div class="container my-3">
    <h1>Add your URL</h1>
    <form method="POST" action="/">
        <div class="mb-3">
            <input type="text" class="form-control" id="url" name="url" aria-describedby="emailHelp"
                placeholder="https://youtube.com/xy......sha384-b5kHyXgcpbZJO">
            <div id="emailHelp" class="form-text">We'll never share your url with anyone else.</div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword"
                style="display: none;">
        </div>
        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="showKeyword()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Add custom keyword</label>
        </div>
        <button type="submit" class="btn btn-primary">Short URL</button>
    </form>
</div>
<div class="container my-3">
    {% if status %}
    <div class="alert alert-success" role="alert">
        Your link is ready:- {{url}}
    </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}