<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Short URL</title>
</head>

<body>
    <div class="container my-3">
        <h1>Add your URL</h1>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="https://youtube.com/xy......sha384-b5kHyXgcpbZJO">
                <div id="emailHelp" class="form-text">We'll never share your url with anyone else.</div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="keyword" placeholder="Keyword" style="display: none;">
            </div>
            <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="showKeyword()">
                <label class="form-check-label" for="flexSwitchCheckDefault">Add custom keyword</label>
            </div>
            <button type="submit" class="btn btn-primary">Short URL</button>
        </form>
    </div>

    <script>
        function showKeyword() {
            var checkbox = document.getElementById("flexSwitchCheckDefault");
            var field = document.getElementById("keyword");

            if (checkbox.checked == true){
                field.style.display = "block";
            } else {
                field.style.display = "none";
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>