{% extends "base.html" %}

{% block title %}
Short URL
{% endblock %}

{% block body %}
<div class="container my-3">
    <h1>Add your URL</h1>
    <form method="POST" action="/">
        <div class="mb-3">
            <input required type="text" class="form-control" id="url" name="url" aria-describedby="emailHelp"
                placeholder="For ex : https://www.youtube.com/channel/UCRJSgiSj6E5izqMcUQKX8qw">
            <div id="emailHelp" class="form-text">We'll never share your url with anyone else.</div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword"
                style="display: none;">
        </div>
        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="showKeyword()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Add custom keyword</label>
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
        {% if status %}
        <input type="button" class="btn btn-success" value="Copy" id="copyBtn">
        {% endif %}
    </form>
</div>
<div class="container my-3">
    {% if status %}
    <div class="alert alert-success" role="alert">
        Here's your link : {{url}}
    </div>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">
        Try a different keyword
    </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script>
    document.getElementById('copyBtn').onclick = function copyText() {
        let link = "{{url}}"
        copy(link);
        function copy(text) {
            navigator.clipboard.writeText(text);
        }
    }
</script>
{% endblock %}